html, body {
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    background-color: azure;
}

.points {
    font-size: 16px;
    text-align: center;
}